body {
    background-color: rgb(0, 0, 0);       
}
p{
  color:#fff;
  padding-left: 20px;
}
.menu {
    display: flex;                
    padding:0;                    
    background-color: rgb(255, 255, 255);       
    justify-content: space-around;
}
.menu li {
    list-style-type: none ;       
  
}
.menu a {
    display:block;                
    min-width: 120px;             
    
    margin: 0.5rem;              
    padding: 0.4rem 0;            
    text-align: center;             
    background-color: #000000;  
    color: #fff;                  
    text-decoration: none;        
    border: 1px solid #fff;      
    border-radius: 4px;             
    transition: all 1s ;         
}
.menu a.actif {    
    background-color: rgb(192, 104, 21); 
    color: #ffffff ;
    border-color: #ffffff ;
}
.menu a:hover,
.menu a:hover.actif{
    background-color: #ffffff;
    color: #000000;
    border-color: #000000;
    
}

.moi{
  height: 400px;
  margin-left: 120px;
  left: 120px;
  top: 150px;
}

h1{
    color:#ffffff;
    left: 240px;
    top:  80px;
    padding: 10px;
    margin-left: 230px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }body

.texte1{
    color:#ffffff;
    text-align: justify;
    font-size: 20px;
    padding-top: 140px;   
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    padding-right: 250px; 
}

.moi{
    width: 400px;
    height: 400px;
    margin-left: 120px;
    grid-column: 1 / 3;
    grid-row: 1;
  }

.body.p{
    
    display: flex;
    justify-content: space-between;
  }

    @media (max-width: 1024px){
        
          .texte1{
            color:#ffffff;
            font-size: 20px;
            grid-column: 2 / 4;
            grid-row: 1 / 3; 
            padding-top: 80px;   
    
        }

        .moi{
            width: 300px;
            height: 300px;
            margin-left: 120px;
            grid-column: 1 / 3;
            grid-row: 1;
          }
        
        }

        @media (max-width: 768px){

            .moi{
                width: 200px;
                height: 200px;
                margin-left: 120px;
                grid-column: 1 / 3;
                grid-row: 1;
              }
              .texte1{
                color:#ffffff;
                font-size: 20px;
                grid-column: 2 / 4;
                grid-row: 1 / 3; 
                padding-top: 40px;   
        
            }
          }
        @media (max-width: 600px){
          .moi{
            width: 300px;
            height: 300px;
            display: flex;
            justify-content: space-around;
          }     
          .texte1{
                  color:#ffffff;
                  font-size: 20px;  
                  padding-top: 40px;   
                  grid-column: 1 / 4;
                  grid-row: 2 / 3;
                  margin-left: 30px;
              }
          h1{
                color:#ffffff;
                padding: 10px;
                margin-left: 190px;
            }
            }
footer{
    color:#ffffff;

          }

          .menu {
    display: flex;                
    padding:0;                    
    background-color: rgb(255, 255, 255);       
    justify-content: space-around;
}
.menu li {
    list-style-type: none ;       
  
}
.menu a {
    display:block;                
    min-width: 120px;             
    
    margin: 0.5rem;              
    padding: 0.4rem 0;            
    text-align: center;             
    background-color: #000000;  
    color: #fff;                  
    text-decoration: none;        
    border: 1px solid #fff;      
    border-radius: 4px;             
    transition: all 1s ;         
}
.menu a.actif {    
    background-color: rgb(192, 104, 21); 
    color: #ffffff ;
    border-color: #ffffff ;
}
.menu a:hover,
.menu a:hover.actif{
    background-color: #ffffff;
    color: #000000;
    border-color: #000000;
    
}

.BoutonFlapy {
  padding-top:140px ;
  display: flex;                                    
}
.BoutonFlapy li {
  list-style-type: none ;       

}
.BoutonFlapy a {
  display:block;                
  min-width: 120px;             
  margin: 0.5rem;              
  padding: 0.4rem 0;            
  text-align: center;             
  background-color: #000000;  
  color: #ffffff;                  
  text-decoration: none;        
  border: 1px solid #000000;      
  border-radius: 4px;             
  transition: all 1s ;         
}

.BoutonFlapy a:hover,
.BoutonFlapy a:hover.actif{
  background-color: #415a77;
  color: #000000;
  border-color: #000000;
  
}


h2{
  color: #fca311;
  padding: 20px;
}
.HTK{
  padding: 30px;
  display: flex;
  justify-content: space-around;
}

.Affiche{
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  padding-bottom:  20px;
}

.figma{
  padding:  20px;
  display: flex;
  justify-content: space-between;
}

#banner {
  width: 800px;
  height: 800px;
}

#image {
  position: absolute;
  left: -50em;
  top: 35em;
}

#text {
  position: absolute;
  left: 40%;
  top: 12%;
  font-size: 48px;
  color: #fff;
  text-align: center;
}
.out{
  vertical-align: middle;
}